.footer{
    padding: 44px;
    @media screen and(min-width:768px){
        padding: 55px;
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            justify-content: space-between;
    }

    
}
.copyright{
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.2em;
    
        color: #9DA4BD;
}
.footer-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::before {
            content: "";
            height: 1px;
            width: 63px;
            margin-right: 40px;
            background-color: currentColor;
        }
        @media screen and(max-width:767px){
            margin-right: 0;
            margin-bottom: 20px;
        }
}
.footer-item{

    &:not(:last-child) {
            margin-right: 40px;
        }
}
.footer-link{
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    
    color: #303030;
    &:hover,
        &:focus {
            color: var(--accent-color);
        }
}